:root {
  --light-beige: #f1ede9;
  --beige: #cabfae;
  --brown: #69513a;
  --light-brown: #ba9273;
  --img-height: 0;
}

@font-face {
  font-family: "Poppins";
  src: url(Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Poppins Bold";
  src: url(Poppins/Poppins-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "Poppins Regular";
  src: url(Poppins/Poppins-Regular.ttf);
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  width: 100vw;
}

.hide {
  display: none;
}

#index-page {
  background-color: var(--light-beige);
}

#index-page .logo {
  text-align: center;
  font-size: 10px;
  display: block;
  margin: 40% auto 0 auto;
}

#index-page div:nth-of-type(2) {
  margin-top: 50%;
}

#index-page div button {
  display: block;
  margin: 0 auto;
  font-family: "Poppins Bold";
  width: 250px;
  padding: 5px;
  font-size: 15px;
  border-radius: 20px;
  border: 2px solid var(--brown);
  background-color: transparent;
  cursor: pointer;
}

#index-page div button a {
  color: var(--brown);
  text-decoration: none;
}

#index-page div button.focus a {
  color: var(--light-beige);
  text-decoration: none;
}

#index-page div button.focus {
  background-color: var(--brown);
  margin-bottom: 20px;
}

#signup-page,
#login-page {
  background-color: var(--light-beige);
  text-align: center;
}

#signup-page .logo,
#login-page .logo {
  text-align: center;
  font-size: 10px;
  display: block;
  margin: 20% auto 0 auto;
}

#signup-page .logo svg,
#login-page .logo svg {
  width: 35%;
}

#signup-page .logo h1,
#login-page .logo h1 {
  margin: 0;
  margin-bottom: 10%;
}

#signup-page h1#title,
#login-page h1#title {
  color: var(--brown);
  text-align: center;
  font-size: 25px;
}

#signup-page form {
  margin-top: 10%;
}

#signup-page form input,
#signup-page form button,
#login-page form input,
#login-page form button {
  border: none;
  border-radius: 5px;
  display: block;
  margin: 15px auto;
  font-size: 18px;
  padding: 10px;
  width: 230px;
  text-align: center;
}

#signup-page form button,
#login-page form button {
  background-color: var(--brown);
  width: 250px;
}

#signup-page form button a,
#login-page form button a {
  color: var(--light-beige);
  text-decoration: none;
}

#signup-page #login-link,
#login-page #signup-link {
  text-decoration: none;
  color: var(--brown);
}

nav {
  background-color: var(--light-beige);
  margin: 0;
  width: 100vw;
  height: 75px;
  position: absolute;
  top: 0;
  left: 0;
}

nav div#add-book-icon {
  position: relative;
  top: 23px;
  left: 23px;
}

nav div:nth-child(2) {
  position: absolute;
  top: 17px;
  right: 70px;
}

nav div:nth-child(3) {
  position: absolute;
  top: 23px;
  right: 23px;
}

#feed-page #feed-logo img {
  position: absolute;
  top: 75px;
  left: 0;
  width: 100vw;
}

#feed-page #feed-logo div.mask {
  width: 100vw;
  background-color: rgba(105, 81, 58, 0.5);
  height: var(--img-height);
  position: absolute;
  top: 75px;
  left: 0;
}

#feed-page #feed-logo svg {
  position: absolute;
  left: 50%;
  margin-left: -81.5px;
  top: calc((var(--img-height) / 2) + 30px);
}

#feed-page #feed {
  position: relative;
  top: calc((var(--img-height)) + 85px);
}

#feed-page #feed h1 {
  font-size: 25px;
  margin-left: 10px;
}

#feed-page #feed .feed-grid,
#books-page #books .books-grid {
  margin-left: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#feed-page #feed .feed-grid h2,
#books-page #books .books-grid h2 {
  color: var(--brown);
  font-size: 22px;
}

#feed-page .burger-menu-modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: var(--light-beige);
}

#feed-page .burger-menu-modal svg.close-modal {
  /* float: right;
  margin-right: 25px;
  margin-top: 25px; */
  position: absolute;
  top: 25px;
  right: 25px;
}

#feed-page .burger-menu-modal .burger-menu-modal-content {
  margin-top: 80px;
}

#feed-page .burger-menu-modal .burger-menu-modal-content a {
  display: block;
  text-align: center;
  color: black;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 25px;
}

#feed-page .burger-menu-modal .burger-menu-modal-content span svg {
  display: inline;
  transform: translateY(-2px);
}

#feed-page .burger-menu-modal .burger-menu-modal-content .book-genres {
  grid-template-columns: repeat(3, 1fr);
  margin: 10px 0;
}

#feed-page .burger-menu-modal .burger-menu-modal-content .book-genres a {
  color: var(--brown);
  font-size: 18px;
  font-family: "Poppins Regular";
}

#books-page #searchbar {
  position: relative;
  width: 100%;
  top: 75px;
  margin: 0;
  text-align: center;
  padding-bottom: 30px;
  border-bottom: #ebebeb solid 2px;
}

#books-page #searchbar form {
  margin-top: 30px;
}

#books-page #searchbar form input {
  font-size: 22px;
  font-family: "Poppins Regular";
  color: black;
  border-color: black;
  padding: 5px;
  width: 90vw;
  border-radius: 5px;
}

#books-page #searchbar form input::placeholder {
  color: black;
}

#books-page #books {
  position: relative;
  top: 80px;
}

#books-page #filters {
  position: relative;
  top: 70px;
  padding-bottom: 30px;
  border-bottom: #ebebeb solid 2px;
}

#books-page #filters .filters-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#books-page #filters h2 {
  margin-bottom: 10px;
}

#books-page #filters div label {
  display: block;
  margin: 10px 0;
  font-size: 20px;
  font-family: "Poppins Regular";
}

#books-page #filters svg {
  float: right;
  margin-right: 15px;
}
